body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.formContainer {
  padding: 10px;
  margin: 1rem auto;
  display: flex;
  align-content: center;
  width: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 92vh;
  border: 1px solid silver;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  h2 {
    color: darkmagenta
  }

  div {
    width: 90%;
  }

  div input:not(input[type="checkbox"]) {
    border-radius: 4px;
    padding: 10px 0px;
    margin: 0.8rem 0px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 2px solid #6998AB;


    .inputError:focus {
      border: 2px solid #CD1818 !important;

    }

    .inputSuccess:focus {
      border: 2px solid #0B4619 !important;

    }

    &:focus-visible {
      outline: none
    }
  }

  label {
    display: block;
  }

  .inputMessage {
    margin: 0 !important;
    display: block;
    padding-bottom: 1rem;
    color: #CD1818;
  }

  button {
    padding: 0.7rem 2rem;
    min-width: 1rem;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    background-color: darkmagenta;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}


@media screen and(max-width: 900px) {
  .formContainer {
    width: 90% !important
  }
}